 {% extends "fibremastered/base_layout.html" %} {% load static sitetree i18n %} {% block body %}
<section class="hero  is-default is-bold">

    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8 ">
                    <h1 class="title is-size-1 is-bold">Recerca</h1>
                    <p class="is-size-5"> La recerca és la meitat de l’activitat que es realitza a una universitat. Coneix l’activitat que realitzen els grups de recerca de la facultat en temes molt diversos i els centres d’investigació relacionats amb la FIB.

                    </p>
                </div>
            </div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">

                <div class="columns is-centered">

                <div class="column is-half ">
                    <h2 class="title is-size-1 is-bold">Grups de Recerca</h2>
                    <p class="is-size-5">
                        Quan no estan fent classe els professors es dediquen a investigar. L’espectre de la recerca és molt ampli: intel·ligència artificial, xarxes, educació, etc.
                    </p>

                    <section style="margin:40px;" class="carousel is-small has-carousel">
                        <div id="carousel2" class="carousel">
                            <div class="item-1 has-text-centered">
                                <img style="width : auto; height: 300px;" src="{% static 'img/recerca/iaml/iaml1.png'%}">
                            </div>
                            <div class="item-2 has-text-centered">
                                <img class="" style="width : auto; height: 300px;" src="{% static 'img/recerca/iaml/iaml2.png'%}">
                            </div>
                            <div class="item-3 has-text-centered">
                                <img class="" style="width : auto; height: 300px;" src="{% static 'img/recerca/iaml/iaml3.png'%}">
                            </div>

                        </div>
                        <div class="hero-head"></div>
                        <div class="hero-body"></div>
                        <div class="hero-foot"></div>
                    </section>

                    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
                    <script>
                        bulmaCarousel.attach('#carousel2', {
                            slidesToScroll: 1,
                            slidesToShow: 1,
                            infinite: true,

                        });
                    </script>

                </div>
            </div>


            <div class="columns is-centered">
                <div class="column is-half ">
                    <h2 class="title is-size-1 is-bold">Barcelona Supercomputing Center (BSC)</h2>
                    <p class="is-size-5">
                        Associat a la UPC i dins del Campus Nord podeu trobar un dels centres d’investigació de referència mundial. Es pot anar a visitar en persona i també de manera online ( <a href="https://my.matterport.com/show/?m=oj5FSKsTt7o"> URL</a>                        )

                    </p>
                    <section style="margin:40px;" class="carousel is-small has-carousel">
                        <div id="carousel-demo" class="carousel">
                            <div class="item-1 has-text-centered">
                                <img style="width : auto; height: 400px;" src="{% static 'img/recerca/bsc/bsc1.jpg'%}">
                            </div>
                            <div class="item-2 has-text-centered">
                                <img class="" style="width : auto; height: 300px;" src="{% static 'img/recerca/bsc/bsc2.jpg'%}">
                            </div>

                        </div>
                        <div class="hero-head"></div>
                        <div class="hero-body"></div>
                        <div class="hero-foot"></div>
                    </section>

                    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
                    <script>
                        bulmaCarousel.attach('#carousel-demo', {
                            slidesToScroll: 1,
                            slidesToShow: 1,
                            infinite: true,

                        });
                    </script>

                </div>
                </div>

        </div>
    </div>



</section>



{% endblock %}
